<div class="errors">
  <a class="logo-ta" target="_blank" href="http://travelask.ru"></a>
  <a class="logo-toyota" target="_blank" href="https://www.toyota.ru"></a>
  <div class="errors-inner">
    <h3>{{title}}</h3>
    <a target="_blank" href="{{link}}">{{anchor}}</a>, {{message}}
  </div>
</div>

