- if defined?(title) && !title.blank?
  %meta{property: 'og:title', content: title}
- if defined?(image) && !image.blank?
  %meta{property: 'og:image', content: "http://#{request.host_with_port}#{image}"}
