
- excluded_column_names = %w[id created_at updated_at _id _type enabled attachment c_at u_at captcha captcha_key]

%h3 Сообщение из формы связи:

%table
  %tr
    %th(style='padding: 2px 3px') Поле
    %th(style='padding: 2px 3px') Значение
  - ContactMessage.fields.keys.reject{|c| excluded_column_names.include?(c) }.each do |c|
    %tr
      %td(style='padding: 2px 3px')
        = ContactMessage.human_attribute_name(c)
      %td(style='padding: 2px 3px')
        = @message.send(c.to_sym)
